/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  box-sizing: border-box;
  margin: 20px;
  padding: 0;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: url(https://cdn.pixabay.com/photo/2022/06/12/22/48/gradient-7258997_640.png)no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-color: black;
}

/* Navigation */
.navbar {
  background-color: #303030;
  border-bottom: 1px solid #777;
  margin: 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .brand {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
}

.menu {
  display: flex;
}

.menu-item {
  margin-left: 1.5rem;
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}

.menu-item:hover {
  color: #fff;
}

.footer-text {
  background-color: #303030;
  color: #fff;
  padding: 1rem;
  text-align: center;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
