body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 28, 28);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  img {
    max-width: 15%;
    height: auto;
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
  }
